/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

* {
  box-sizing: border-box;
  flex-wrap: wrap; }

body, h1, h2, p, li, div {
  padding: 0;
  margin: 0; }

a:link,
a:visited {
  color: #333;
  text-decoration: none; }

a:hover {
  color: black; }

body {
  background-color: #fafafa;
  font-family: Helvetica, sans-serif;
  font-size: 1.3em; }

h1 {
  font-size: 1.3em;
  font-weight: 600; }

h2 {
  font-size: 0.7em;
  font-weight: 600;
  margin-bottom: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

p {
  font-size: 0.7em;
  line-height: 1.3em;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

p {
  margin-bottom: 20px; }

header {
  width: 100%;
  border-bottom: 1px solid #979797; }
  @media (min-width: 61.25em) {
    header {
      border: none; } }
  header a:hover {
    border-bottom: 2px solid #333; }

footer {
  width: 100%;
  height: 100%; }
  @media (min-width: 61.25em) {
    footer {
      border: none; } }

#content {
  display: inline-flex; }

.active {
  border-bottom: 2px solid #333; }

.grid {
  margin: 0 auto 0;
  width: 100%;
  display: flex;
  height: calc(100vh - 50px);
  align-items: stretch; }
  @media (min-width: 61.25em) {
    .grid {
      width: 80%; } }

.grid-list {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.grid-item {
  display: flex;
  flex: 1 0 50%;
  max-width: 350px;
  margin: 10px;
  padding: 10px;
  flex-direction: column;
  justify-content: space-between; }
  @media (min-width: 30em) {
    .grid-item {
      flex: 1 0 40%; } }
  @media (min-width: 61.25em) {
    .grid-item {
      flex: 1 0 30%;
      border-top: 1px solid #f4f4f4; } }
  @media (min-width: 81.25em) {
    .grid-item {
      flex: 1 0 20%; } }

.home--header {
  margin: 20px;
  padding: 0; }
  @media (min-width: 81.25em) {
    .home--header {
      margin: 20px auto;
      width: 1240px; } }
  .home--header li {
    font-size: 0.7em;
    display: inline-block;
    list-style-type: none;
    margin-right: .9em; }

.home--footer {
  margin: 20px;
  padding: 0;
  display: none; }
  @media (min-width: 61.25em) {
    .home--footer {
      display: block;
      position: absolute;
      top: 0;
      right: 0; } }
  @media (min-width: 81.25em) {
    .home--footer {
      width: 220px; } }
  .home--footer li {
    font-size: 1em;
    display: inline-block;
    list-style-type: none;
    margin-right: .5em; }

.home--wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto 0; }
  .home--wrapper svg {
    position: fixed;
    right: 10px;
    bottom: 10px; }
  @media (min-width: 81.25em) {
    .home--wrapper {
      width: 1280px; } }

.home--intro {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  padding-bottom: 20px; }
  @media (min-width: 61.25em) {
    .home--intro {
      margin: auto;
      text-align: left;
      font-size: 18px; } }

.home--content {
  margin: 20px; }

.home--links {
  padding: 0; }
  .home--links li {
    font-size: 1em;
    display: inline-block;
    list-style-type: none;
    padding-right: .5em; }

.intro--container {
  padding-bottom: 25px; }
  @media (min-width: 61.25em) {
    .intro--container {
      width: 20%; } }

.about {
  text-align: left; }

img {
  width: 100%;
  height: auto; }

@media (min-width: 61.25em) {
  .about-img-holder {
    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
    right: calc(-50vw + 50%);
    background-position: center center;
    height: 350px;
    overflow-y: hidden;
    vertical-align: middle; } }

.logo_container {
  margin: 20px auto;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 1px solid #dedede;
  overflow: hidden;
  background-color: #fff; }
  @media (min-width: 61.25em) {
    .logo_container {
      margin: 10px; } }

.logo_2017 {
  width: 218px;
  height: 260px;
  background-image: url("../img/me_2017.svg");
  background-position: center center;
  background-repeat: no-repeat; }

.border {
  border-top: 1px solid #dadada;
  padding-top: 10px;
  margin-top: 10px; }

.border-work {
  padding-top: 10px;
  margin: 20px; }
  .border-work div {
    border-top: 1px solid #dadada;
    width: 20px; }

.work-1:after,
.work-2:after,
.work-3:after,
.work-4:after,
.work-5:after,
.work-6:after,
.work-7:after,
.work-8:after {
  content: '';
  background-position: center center;
  background-size: cover;
  display: flex;
  width: 100%;
  height: 230px;
  cursor: pointer; }

.work-2-extra-1:after,
.work-2-extra-2:after,
.work-2-extra-3:after,
.work-2-extra-4:after,
.work-2-extra-5:after,
.work-5-extra-1:after,
.work-5-extra-2:after,
.work-5-extra-3:after {
  content: '';
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 100%;
  height: 400px;
  cursor: pointer; }

.work-1:after {
  background-image: url("../img/build/work_guardian_docs.png"); }

.work-2:after {
  background-image: url("../img/build/work_commute_app.png"); }

.work-2-extra-1:after {
  background-image: url("../img/build/work_cmt_app_1.jpg"); }

.work-2-extra-2:after {
  background-image: url("../img/build/work_cmt_app_2.jpg"); }

.work-2-extra-3:after {
  background-image: url("../img/build/work_cmt_app_3.jpg"); }

.work-2-extra-4:after {
  background-image: url("../img/build/work_cmt_app_4.jpg"); }

.work-2-extra-5:after {
  background-image: url("../img/build/work_cmt_app_5.jpg"); }

.work-3:after {
  background-image: url("../img/build/work_theguardian.png");
  border: 1px solid #dadada; }

.work-4:after {
  background-image: url("../img/build/work_yahoo.png"); }

.work-5:after {
  background-image: url("../img/build/work_wm_landing_screen.png"); }

.work-5-extra-1:after {
  background-image: url("../img/build/work_wm_landing_screen.png"); }

.work-5-extra-2:after {
  background-image: url("../img/build/work_wm_screens_2.png"); }

.work-5-extra-3:after {
  background-image: url("../img/build/work_wm_screens_3.png"); }

.work-6:after {
  background-image: url("../img/build/work_density.png"); }

.work-7:after {
  background-image: url("../img/build/work_guardian_football.png");
  border: 1px solid #dadada; }

.work-8:after {
  background-image: url("../img/build/work_guardian_wireframes_2.png");
  border: 1px solid #dadada; }

#container {
  margin: 0 auto;
  width: 900px; }

#events {
  color: aqua; }

.block {
  display: inline-block;
  padding-right: 10px;
  width: 30%; }

@media (min-width: 20em) and (max-width: 46.24em) {
  .foo {
    background: red; } }

@media (min-width: 46.25em) {
  .foo {
    background: green; } }
