img {
  position:relative;
  width: 100vw;
  left: calc(-50vw + 50%);
  right: calc(-50vw + 50%);
  margin-right: -20px;
  @include mq(desktop){
    margin-right: -100%;
    top: calc(-50vw + 50%);
    vertical-align: middle
  }
}

.about-img-holder {
  @include mq(desktop){
    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
    right: calc(-50vw + 50%);
    background-position: center center;
    height: 350px;
    overflow-y: hidden;
    vertical-align: middle
  }
}

.logo_container {
  margin: 20px auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
  // @include mq(desktop){
  //   margin: 20px;
  // }
}
.logo_2017 {
  width: 218px;
  height: 260px;
  background-image: url('../img/me_2017.svg');
  background-position: center center;
  background-repeat: no-repeat;
}

.border {
    border-top: 1px solid $grey-light;
    width: 20px;
    padding-top: 10px;
    margin-top: 10px;
}

.border-work {
  padding-top: 10px;
  margin: 20px;
  div {
    border-top: 1px solid $grey-light;
    width: 20px;
  }
}

@mixin work-image-border {
  border: 1px solid $grey-light;
}

.work-1,
.work-2,
.work-3,
.work-4,
.work-5,
.work-6,
.work-7,
.work-8 {
  &:after {
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: '';
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    height: 230px;
    overflow: hidden;
    align-content: flex-end;
  }
}

.work-1 {
  &:after {
    background-image: url('../img/build/work_guardian_docs.png');
  }
}
.work-2 {
  &:after {
    background-image: url('../img/build/work_commute_app.png');
  }
}
.work-3 {
  &:after {
    background-image: url('../img/build/work_theguardian.png');
    @include work-image-border;
  }
}
.work-4 {
  &:after {
    background-image: url('../img/build/work_yahoo.png');
  }
}
.work-5 {
  &:after {
    background-image: url('../img/build/work_wm_landing_screen.png');
  }
}

.work-5-extra-1 {
  &:after {
    content: '';
    background-image: url('../img/build/work_wm_landing_screen.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #4e4e4e;
    position: absolute;
    top: 130px;
    padding: 0;
  }
}

.work-5-extra-2 {
  &:after {
    content: '';
    background-image: url('../img/build/work_wm_screens_2.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #4e4e4e;
    position: absolute;
    top: 130px;
  }
}

.work-5-extra-3 {
  &:after {
    content: '';
    background-image: url('../img/build/work_wm_screens_3.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #4e4e4e;
    position: absolute;
    top: 130px;
  }
}

.work-6 {
  &:after {
    background-image: url('../img/build/work_density.png');
  }
}
.work-7 {
  &:after {
    background-image: url('../img/build/work_guardian_football.png');
    @include work-image-border;
  }
}
.work-8 {
  &:after {
    background-image: url('../img/build/work_guardian_wireframes.png');
    @include work-image-border;
  }
}
