$font-stack:    Helvetica, sans-serif;
$primary-color: #676767;
$secondary-color: #fff;
$grey-light: #dadada;
$grey-dark: #333;
$image-borders: 1px solid red;
$radius: 50%;
$font-size-small: 0.7em;
$font-size-medium: 1em;
$font-size-large: 1.3em;
$font-size-links: 1em;
$font-lineheight: 1.7em;


body, h1, h2, p, li, div {
  padding: 0;
  margin: 0;
}

a:link,
a:visited {
  color: $secondary-color;
}

a:hover {
  color: darken($secondary-color, 40%);
}

body {
  background-color: $primary-color;
  font-family: $font-stack;
  font-size: $font-size-large;
}

h1 {
  font-size: $font-size-large;
  font-weight: 600;
}

h2 {
  font-size: $font-size-medium;
  font-weight: 600;
  margin-bottom: 10px;
}

p, li {
  font-size: $font-size-small;
  line-height: $font-size-large;
}

p {
  margin-bottom: 20px;
}

.home {
  &--wrapper {
    width: 100%;
    height: 100%;
    svg {
      position: fixed;
      right: 10px;
      bottom: 10px;
    }
  }
  &--intro {
    @include mq($from:tablet) {
      width: 50%;
    }
  }
  &--content {
    margin: 20px;

    li {
      position: relative;
      display: inline-block;
      word-wrap: break-word;
      width: 32%;
      height: 250px;
      margin: 2px;
      overflow: visible;
    }
    li:hover {
      box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
      border: 1px solid red;
    }
  }
  &--links {
    margin: 20px;
    padding: 0;
    width:50%;
    li {
      font-size: $font-size-links;
      display: inline-block;
      list-style-type: none;
      padding-right: .5em;
    }
  }
}
