$font-stack:    Helvetica, sans-serif;
$primary-color: #fafafa;
$secondary-color: #333;
$grey-lighter: #f4f4f4;
$grey-light: #dadada;
$grey-med: #979797;
$grey-dark: #333;
$image-borders: 1px solid red;
$radius: 50%;
$font-size-small: 0.7em;
$font-size-medium: 1em;
$font-size-large: 1.3em;
$font-size-links: 1em;
$font-lineheight: 1.7em;

* {
  box-sizing: border-box;
  flex-wrap: wrap;
}

body, h1, h2, p, li, div {
  padding: 0;
  margin: 0;
}

a:link,
a:visited {
  color: $secondary-color;
  text-decoration: none;
}

a:hover {
  color: darken($secondary-color, 40%);
}

body {
  background-color: $primary-color;
  font-family: $font-stack;
  font-size: $font-size-large;
}

h1 {
  font-size: $font-size-large;
  font-weight: 600;
}

h2 {
  font-size: $font-size-small;
  font-weight: 600;
  margin-bottom: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  font-size: $font-size-small;
  line-height: $font-size-large;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  margin-bottom: 20px;
}

header {
  width: 100%;
  border-bottom: 1px solid $grey-med;
  @include mq(desktop){
    border: none;
  }
  a:hover {
    border-bottom: 2px solid $grey-dark;
  }
}

footer {
  width: 100%;
  height: 100%;
  // border-top: 1px solid $grey-med;
  @include mq(desktop){
    border: none;
  }
}

#content {
  display: inline-flex;
}

.active {
  border-bottom: 2px solid $grey-dark;
}

.grid {
  margin: 0 auto 0;
  width: 100%;
  display: flex;
  height: calc(100vh - 50px);
  align-items: stretch;

  @include mq($from:desktop) {
    width: 80%;
  }
}

.grid-list {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-item {
  display: flex;
  flex: 1 0 50%;
  max-width: 350px;
  margin: 10px;
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;

  @include mq(mobileLandscape){
    flex: 1 0 40%;
  }
  @include mq(desktop) {
    flex: 1 0 30%;
    border-top: 1px solid $grey-lighter;
  }
  @include mq(wide) {
    flex: 1 0 20%;
  }
}

.home {
  &--header {
    margin: 20px;
    padding: 0;
    @include mq($from:wide) {
      margin: 20px auto;
      width: 1240px;
    }
    li {
      font-size: $font-size-small;
      display: inline-block;
      list-style-type: none;
      margin-right: .9em;
    }
  }
  &--footer {
    margin: 20px;
    padding: 0;
    display: none;
    @include mq(desktop) {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }
    @include mq(wide) {
      width: 220px;
    }
    li {
      font-size: $font-size-links;
      display: inline-block;
      list-style-type: none;
      margin-right: .5em;
    }
  }
  &--wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto 0;
    svg {
      position: fixed;
      right: 10px;
      bottom: 10px;
    }
    @include mq($from:wide) {
      width: 1280px;
    }
  }
  &--intro {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 20px;
    @include mq($from:desktop) {
      margin: auto;
      text-align: left;
      font-size: 18px;
    }
  }
  &--content {
    margin: 20px;
  }

  &--links {
    padding: 0;
    li {
      font-size: $font-size-links;
      display: inline-block;
      list-style-type: none;
      padding-right: .5em;
    }
  }
}

.intro--container {
  padding-bottom: 25px;
  @include mq(desktop){
      width: 20%;
  }
}

.about {
  text-align: left;
}
